<html>
    <head>
        <title>Quiz</title>
    </head>
    <body>
        <h1>Quiz</h1>
        <form action="/results" method="get">
            <h3>What is your favorite color?</h3>
            <input type="radio" name="question1" value="Orange">Orange</input>
            <br>
            <input type="radio" name="question1" value="Blue">Blue</input>
            <br>
            <input type="radio" name="question1" value="Mauve">Mauve</input>
            <br>
            <h3>What is the capital of Assyria?</h3>
            <input type="radio" name="question2" value="Assur">Assur</input>
            <br>
            <input type="radio" name="question2" value="New Jersey">New Jersey</input>
            <br>
            <input type="radio" name="question2" value="Istanbul">Istanbul</input>
            <br>           
            <h3>What is the average air speed of an unladen swallow?</h3>
            <input type="radio" name="question3" value="which">African or European?</input>
            <br>
            <input type="radio" name="question3" value="9">9.4 meters/second</input>
            <br>
            <input type="radio" name="question3" value="3">3.2 meters/second</input>
            <br><br>           
            <input type="submit">
        </form>
    </body>
</html>